body{
  display: flex;
  flex-direction: row;
}

img{
  height: 200px;
  width: 80%;
}

.menu{
  width: 30%;
}

.right-page{
  width: 70%;
}

.experience{
  &-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    &-item{
      width: 50%;

    }
  }
}

.image-list{
  display: flex;
  flex-wrap: wrap;
  &-item{
    width:33%;
  }
}
.form{
  text-align: center;
  input{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  textarea{
    width: 50%;
    margin: 0 auto;
  }
  .send{
    margin: 0 auto;
    width:10%;
  }
}